{{ partial "header.html" . }}

<div class="row">
	<div class="col-md-8 doc-main">
		<main role="main">
			<article>
				{{ .Render "breadcrumbs" }}
				<a id="title"></a>
				<h1 class="doc-entry-title">{{ .Title }}</h1>
				<div class="doc-entry-meta">
					<span></span>
				</div>
				<section>
					{{ .Content }}
				</section>
			</article>
		</main>
	</div> <!-- /.doc-main -->
	{{ partial "sidebar-single.html" . }}

</div> <!-- /.row -->

<hr/>
<div class="doc-footer-em"><a href="#"><i class="fa fa-hand-o-up"></i> Back to TOP</a></div>

{{ partial "footer.html" . }}