<div class="card card-inverse" style="background-color: #333; border-color: #333;">
  <div class="card-block">
    <h3 class="card-title"><i class="fa fa-envelope-o"></i> Subscribe:</h3>
    <p class="card-text">Sign up to the habitat model mailing list to get news about fixes and new releases.</p>
    <input type="text" name="" tabindex="-1" value="">
    <a href="#" class="btn btn-primary">Join</a>

  </div>
</div>


<div>
  <h4>Useful Links</h4>
  <ul class="nav">
    <li><a class="fa fa-leaf" href="#"> Thing 1</a></li>
    <li><a class="fa fa-leaf" href="#"> Thing 2</a></li>
    <li><a class="fa fa-leaf" href="#"> Thing 3</a></li>
    <li><a class="fa fa-leaf" href="#"> Thing 4</a></li>
  </ul>
</div>